@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Acme Corporation's raffle!</h1>
</div>
<div>
    <p>Thank you for purchasing an Acme Corporation widget!</p>
    <p>In order to participate, please provide the details below.</p>
    <p>We have an easy-to-follow, simple guide to find the serial number <a asp-page="LocateSerialNumber">over here!</a></p>
    <component type="typeof(AcmeCorporation.Components.RaffleForm)" render-mode="ServerPrerendered"/>
</div>
