@page
@using Microsoft.AspNetCore.Components.Forms
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Acme Corporation's raffle!</h1>
    <p>In order to participate, please provide the details below.</p>
    <p>We have an easy-to-follow, simple guide to find the serial number over here!</p>
    <EditForm>

    </EditForm>
</div>
