@page "/locate-serial-number"

<h1>Locate the serial number</h1>
<em>In order to find the serial number, please follow these guidelines.</em>

<p>The serial number consists of the Model Name, the Series Identifier, and the Unique Identifier.</p>
<h2>Model Name</h2>
<p>The model name is always 4 letters printed on the front of the widget.</p>
<h2>Series Identifier</h2>
<p>The series identifier is 9 digits where the middle digit is always a 3. It can be found on a sticker near the power input.</p>
<h2>Unique Identifier</h2>
<p>The Unique Identifier is located on the inside of the widget and consist of 3 letters and 2 digits. To expose the number, you need isopropyl alcohol to dissolve the glue, a heat gun, a suction cup, a pry tool, a full set of small screwdrivers with pozitronic, flathead, Philips, and torx heads, and about 4-5 hours to spare.</p>
<p>Start by removing the "Warranty Void" stickers. Notice that your warranty will be null and void after this step.</p>
<p>Then [Lorem ipsum...]</p>


<p>
    <NavLink href="/" class="btn btn-outline-primary">Back to Raffle</NavLink>
</p>