@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>In order for us to be able to keep you in the raffle, we need to process the information you provide. Contact us at dpo@somemail.faketld if you want any insight to the data or if you want to withdraw you consent.</p>
