@page "/"
@using AcmeCorporation.Library.Datacontracts
@using AcmeCorporation.Library.Service
@using AcmeCorporation.Services

@implements IDisposable
@inject IEntryService EntryService
@inject TimeProvider DateTimeProvider
@inject RaffleSessionState SessionState

<PageTitle>Acme Corporation Raffle</PageTitle>
<div class="text-center">
    <h1 class="display-4">Welcome to Acme Corporation's raffle!</h1>
</div>

@if (SessionState.IsEligible == null)
{
    <div class="card mx-auto shadow-sm" style="max-width: 500px">
        <div class="card-body text-center">
            <h4 class="card-title mb-4">Age verification</h4>
            <p>You must be 18 years or older to enter this raffle.</p>
            <div class="mb-3">
                <label for="dateOfBirth" class="form-label">Please enter your date of birth:</label>
                <input type="date" class="form-control mx-auto" style="max-width: 300px;" @bind="_dateOfBirth" max="@DateTimeProvider.GetLocalNow().ToString("yyyy-MM-dd")" />
            </div>

            <button class="btn btn-primary" @onclick="VerifyAge">Continue</button>
        </div>
    </div>
}
else if (SessionState.IsEligible == false)
{
    <div class="alert alert-danger text-center mx-auto" style="max-width: 500px">
        <h4 class="alert-heading">Sorry!</h4>
        <p>We're sorry, but you must be at least 18 years old to participate in this raffle.</p>
        <p>Thank you for your interest in Acme Corporation.</p>
    </div>
}
else
{
    <p>Thank you for purchasing an Acme Corporation widget!</p>


    <p>In order to participate, please provide the details below.</p>
    <p>We have an easy-to-follow, simple guide to find the serial number <NavLink href="locate-serial-number">over here!</NavLink></p>


    <EditForm Model="Model" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary class="text-danger" />
        <div class="row mb-3">
            <label for="firstName" class="col-sm-2 col-form-label"> First name: </label>
            <div class="col-sm-10">
                <InputText id="firstName" @bind-Value="Model.Participant.FirstName" class="form-control" />
                <ValidationMessage For="() => Model.Participant.FirstName" class="text-danger" />
            </div>
        </div>
        <div class="row mb-3">
            <label for="lastName" class="col-sm-2 col-form-label"> Last name: </label>
            <div class="col-sm-10">
                <InputText id="lastName" @bind-Value="Model.Participant.LastName" class="form-control" />
                <ValidationMessage For="() => Model.Participant.LastName" class="text-danger" />
            </div>
        </div>
        <div class="row mb-3">
            <label for="email" class="col-sm-2 col-form-label"> Email: </label>
            <div class="col-sm-10">
                <InputText id="email" @bind-Value="Model.Participant.Email" class="form-control" />
                <ValidationMessage For="() => Model.Participant.Email" class="text-danger" />
            </div>
        </div>
        <div class="row mb-3">
            <label for="serialNumber" class="col-sm-2 col-form-label"> Serial number: </label>
            <div class="col-sm-10">
                <InputText id="serialNumber" @bind-Value="Model.SerialNumber" class="form-control" />
                <ValidationMessage For="() => Model.SerialNumber" class="text-danger" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 offset-sm-2">
                <button type="submit" disabled="@isSubmitting" class="btn btn-primary">
                    @if (isSubmitting)
                    {
                        <span>Submitting...</span>
                    }
                    else
                    {
                        <span> Enter the raffle!</span>
                    }
                </button>
            </div>
        </div>
    </EditForm>

    @if (isSubmitting)
    {
        <button @onclick="CancelSubmission" class="btn btn-danger">Cancel</button>
    }

    @if (!string.IsNullOrEmpty(_submissionError))
    {
        <div class="text-warning">@_submissionError</div>
    }

    @if (_maxSubmitsForSerialNumberReached)
    {
        <div class="text-warning"><strong>Limit reached:</strong> You cannot submit any more entries for this serial number.</div>
    }

    @if (_formSubmittedSuccessfully)
    {
        <div class="text-success">Thank you for your entry!</div>
        <div>Good luck!</div>
        <div>We will contact you at <b>@Model.Participant.Email</b> if you win.</div>
    }
}

@code
{
    public RaffleDto Model { get; set; } = new();
    private DateOnly _dateOfBirth = DateOnly.FromDateTime(DateTime.Today);

    private string? _submissionError;
    private bool _formSubmittedSuccessfully;
    private bool _maxSubmitsForSerialNumberReached = false;
    private bool isSubmitting = false;
    private CancellationTokenSource? _submitCts;

    private void VerifyAge()
    {
        SessionState.IsEligible = EntryService.VerifyAge(_dateOfBirth);
        StateHasChanged();
    }

    private async Task HandleValidSubmit()
    {
        _submissionError = null;
        _formSubmittedSuccessfully = false;
        _maxSubmitsForSerialNumberReached = false;
        isSubmitting = true;
        // ReSharper disable once MethodHasAsyncOverload - there is not reason to use async since the operation is really simple.
        _submitCts?.Cancel();
        _submitCts = new CancellationTokenSource();

        try
        {
            (EntryServiceError error, List<string> errorMessages) = await EntryService.CreateParticipantAndRaffleEntry(
                Model.Participant.FirstName, 
                Model.Participant.LastName, 
                Model.Participant.Email, 
                Model.SerialNumber, 
                _dateOfBirth,
                _submitCts.Token);
            if (error != EntryServiceError.None)
            {
                switch (error)
                {
                    case EntryServiceError.RaffleEntryExceedMax:
                        _maxSubmitsForSerialNumberReached = true;
                        _submissionError = string.Join(". ", errorMessages);
                        break;
                    case EntryServiceError.Unknown:
                    default:
                        _submissionError = "An error occurred during submission, please try again.";
                        break;
                }
                return;
            }

            _formSubmittedSuccessfully = true;
            Model = new RaffleDto(Model.Participant.FirstName, Model.Participant.LastName, Model.Participant.Email, string.Empty);
        }
        catch (OperationCanceledException)
        {
            _submissionError = "Submission cancelled.";
        }
        catch (ArgumentException e)
        {
            _submissionError = e.Message;
        }
        finally
        {
            isSubmitting = false;
        }
    }

    private void CancelSubmission()
    {
        _submitCts?.Cancel();
    }

    public void Dispose()
    {
        _submitCts?.Cancel();
        _submitCts?.Dispose();
    }
}

